<div class="chartImage">
  <div class="imageChart">
    <img src="https://img.freepik.com/premium-photo/white-rising-bar-chart-blue-background-with-copy-space-business-economic-money-investment-concept-goal-success-theme-3d-rendering_10307-1486.jpg?w=2000" alt="chartExampleImage">
    <div class="centered">
      <div class="row align-items-center">
        <span class="mb-2 subtitleImg fw-bold">Evalua tu gráfico</span>
      </div>
      <div class="row">
        <span class="mb-2 titleImg fw-bold">Indicadores heurísticos</span>
      </div>
      <div class="row">
        <span class="mb-5 fw-bold">Una propuesta metodológica para personas con baja visión</span>
      </div>
      <ubay-button [data]="'Explora las heurísticas'" (click)="evaluateButton()"></ubay-button>
    </div>
  </div>
</div>
<div class="context">
  <div class="row text-center justify-content-center">
    <span class="col-10">
      <h2> Accesibilidad para personas con baja visión de los gráficos estadísticos</h2>
    </span>
  </div>
  <div class="row text-center justify-content-center">
    <span class="col-9 contextText ">
      <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Fusce nisi purus, varius et pharetra nec, vehicula quis lorem. Vestibulum nisl leo, vestibulum a egestas quis, hendrerit eget arcu. Suspendisse ut massa sodales, maximus tortor nec, cursus erat.
        Mauris volutpat ornare diam ut placerat. Nam turpis ipsum, tincidunt a tristique eleifend, tristique sit amet justo. Donec a quam nisi.
        Quisque ut est nec metus gravida commodo. Morbi ultricies metus vel condimentum malesuada. Phasellus congue pharetra tortor ac interdum. Etiam imperdiet aliquet ex, eget vulputate erat.
        Nam sodales eu diam a pulvinar. Mauris lobortis ante nec lectus commodo, in euismod massa iaculis.
        Vestibulum ullamcorper sapien at lectus eleifend, nec sagittis eros vehicula.</p>
    </span>
    <div class="row text-center justify-content-center mt-3">
      <button class="col-1 readMore" (click)="goToAbout()">Leer más</button>
    </div>
  </div>
</div>
<div class="articles">
  <span class="first titleSection">
    <h2 class="titles">ARTÍCULOS</h2>
    <hr>
  </span>
  <div class=" first container best-sellers">
    <div class="col-12">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col">
          <div class="hovered">
            <div class="card">
              <div class="card-header">
                <img src="https://1.bp.blogspot.com/-S7Ul6H7CDds/XqsCHUtuh5I/AAAAAAAAOis/9JFES3OiPAMZ_AC3EyzVbUDXZU-DN6TcwCEwYBhgL/s1600/Imagen1.png" alt="Ejemplo artículo COVID 1">
                <button class="btnOnProducts hidden">Explora este artículo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="hovered">
            <div class="card">
              <div class="card-header">
                <img src="" alt="">
                <button class="btnOnProducts hidden">Explora este artículo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="heuristics">
  <span class="first titleSection">
    <h2 class="titles">HEURÍSTICAS</h2>
    <hr>
  </span>
</div>
