<div class="d-flex justify-content-center flex-column align-items-center mt-4"  *ngIf="loading">
  <div class="spinner-border mt-4 mb-4" role="status">
  </div>
  <h5 class="text-center mt-4 loadingFont">Cargando...</h5>
</div>
<ng-container *ngIf="loaded">
  <div class="chartImage mb-5">
    <div class="imageChart">
      <img src={{image}} alt="Imagen de ejemplo de gráfico">
      <div class="centered">
        <div class="row align-items-center">
          <span class="mb-2 subtitleImg fw-bold">
            <p>Evalua tu gráfico</p>
          </span>
        </div>
        <div class="row">
          <h1 class="mb-2 titleImg fw-bold">Indicadores heurísticos</h1>
        </div>
        <div class="row">
          <span class="mb-5 fw-bold">
            <p>Una propuesta metodológica para personas con baja visión</p>
          </span>
        </div>
        <ubay-button [data]="'Utiliza las heurísticas'" (click)="evaluateButton()"></ubay-button>
      </div>
    </div>
  </div>
  <div class="context mt-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="row text-center justify-content-center">
      <span class="col-10">
        <h2>Evalua tu gráfico para personas de baja visión con indicadores heurísticos</h2>
      </span>
    </div>
    <div class="row text-center justify-content-center">
      <span class="col-9 contextText ">
        <p class="mt-3"> Los gráficos estadísticos son una herramienta imprescindible en el día a día de distintas áreas de la vida: comunicaciones, investigaciones, educación, información, etc.
          Es por ello que desde el ámbito científico se ha tratado de facilitar esta información para personas con problemas severos, como la ceguera; sin embargo, hay otras enfermedades o defectos visuales encontrados en la sociedad, que no pueden ser corregidos con lentes.
          Esto supone distintos escenarios, ya que según el caso puede ser necesario el uso de lectores de pantalla, amplificadores de texto, etc.
          Mediante el uso de distintas heurísticas, podemos evaluar la accesibilidad que tiene un grafico para todos estos escenarios, donde el lector presenta dificultades debido a su enfermedad o defectos visuales, y así, tratar de adaptarlo para facilitar su uso a todo el mundo.
        </p>
      </span>
      <div class="row text-center justify-content-center mt-3">
        <button class="col-1 readMore" (click)="goToAbout()">Leer más</button>
      </div>
    </div>
  </div>
  <div class="articles home" data-aos="fade-up" data-aos-duration="2000">
    <span class="first titleSection">
      <h4 class="titles articleTitles">ARTÍCULOS</h4>
    </span>
    <div class=" first container best-sellers">
      <div class="col-12">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
          <div class="col-lg-6 col-md-12 mb-2" *ngFor="let article of articlesCarousel" (click)="articleShowInformation(article)">
            <titles-inline [image]="article.image!" [title]="article.title!" ></titles-inline>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax index mt-5  d-none d-lg-block">
    <h1 id="header"></h1>
  </div>
  <div class="heuristics text-center" data-aos="fade-up" data-aos-duration="2000">
    <span class="titleSection">
      <h4 class="titles">COMPRUEBA LA ACCESIBILIDAD DE TU GRÁFICO EN PERSONAS DE BAJA VISIÓN</h4>
    </span>
    <div class="container mt-5 iconsSection">
      <div class="row justify-content-between align-items-end">
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
          <i class="pi pi-cloud-upload"></i>  
        </div>
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
          <i class="pi pi-chart-bar"></i>  
        </div>
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
          <i class="pi pi-file-excel"></i>  
        </div>
      </div>
      <div class="row justify-content-between align-items-start mt-4 letterSection">
        <div class="col-12 col-md-4 d-flex flex-column justify-content-start align-items-center">
          <p class="mt-2">Sube tu gráfico a la web en el apartado de "Evalua" para iniciar el formulario.</p>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column justify-content-start align-items-center">
          <p class="mt-2">Puntua tu gráfico utilizando nuestras heurísticas</p>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column justify-content-start align-items-center">
          <p class="mt-2">Descarga los resultados en formato CSV</p>
        </div>
      </div>
    </div>
  </div>
  <div class="heuristics" data-aos="fade-up" data-aos-duration="2000"  >
    <span class="first titleSection">
      <h4 class="titles articleTitles">HEURÍSTICAS</h4>
    </span>
    <div class=" first container best-sellers">
      <div class="col-12">
        <div class="row justify-content-between">
          <div class="col-lg-6 col-sm-12" >
            <div class="row">
              <div class="col-8">
                <img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80" alt="">
              </div>
              <div class="col-4">
                  <div class="row">
                    <img src="https://images.unsplash.com/photo-1560472354-b33ff0c44a43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1851&q=80" alt="">
                  </div>
                  <div class="row mt-3">
                    <img src="https://images.unsplash.com/photo-1543286386-2e659306cd6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
              <div class="row">
                <span class="col-9 contextText ">
                  <h6 class="mt-3 font-weight-bold">Lee más acerca de las heurísticas</h6>
                </span>
              </div>
              <div class="row mt-2">
                  <p>Una propuesta metodológica basada en indicadores heurísticos para proporcionar accesibilidad a personas con baja visión.</p>
              </div>
              <div class="row mt-2">
                <ubay-button [data]="'Explora las heurísticas'" (click)="heuristicsButton()"></ubay-button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
