<div class="container card p-4">
    <div class="row">
        <div class="col-12 col-md-6 d-none d-md-block">
            <img class="welcomeImg" src={{image}}>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center containerForm">
            <h4 class="mb-4">RECUPERA TU CONTRASEÑA</h4>
            <div class="formGroup mb-4">
                <input
                type="password"
                class="formControl"
                placeholder="Dirección de correo eléctronico"
                #passwordResetEmail
                required
                />
            </div>
            <div class="formGroup buttonForm d-flex justify-content-center align-items-center">
                <input
                type="button"
                class="btn btnPrimary"
                value="Mandar email"
                (click)="authService.ForgotPassword(passwordResetEmail.value)"                
              />
            </div>
            <div class="redirectToLogin mt-5 d-flex justify-content-center align-items-center" (click)="redirectTo('/sign-up')">
                <p>Volver al<strong> Log In</strong> </p>
            </div>
        </div>
    </div>
</div>