<p-dialog [modal]="true" [(visible)]="_visible" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="sendIsClosed()">
  <h5 class="text-center">Personaliza la paleta de la web acorde a tus necesidades</h5>
  <div class="p-4">
    <div class="row gap-2 p-4">
      <div class="col-xl col-md-12 card p-3 settingCard" (click)="sendPaletteSelected(2)" [ngClass]=" _selectedPalette === 2 ? 'selected' : ''">
        <div class="card-title text-center">
          <p>Protanopia, deuteranopia, tritanoppia</p>
        </div>
        <div class="card-body palette1 d-flex align-items-center justify-content-center">
          <div class="square1"></div>
          <div class="square2"></div>
          <div class="square4"></div>
        </div>
      </div>
      <div class="col-xl col-md-12 card p-3 settingCard" (click)="sendPaletteSelected(1)" [ngClass]=" _selectedPalette === 1 ? 'selected' : ''">
        <div class="card-title text-center">
          <p>Achromatopsia</p>
        </div>
        <div class="card-body palette3 d-flex align-items-center justify-content-center">
          <div class="square1"></div>
          <div class="square2"></div>
          <div class="square4"></div>
        </div>
      </div>
      <div class="col-xl col-md-12 card p-3 settingCard" (click)="sendPaletteSelected(0)" [ngClass]=" _selectedPalette === 0 ? 'selected' : ''">
        <div class="card-title text-center">
          <p>Por defecto</p>
        </div>
        <div class="card-body palette4 d-flex align-items-center justify-content-center">
          <div class="square1"></div>
          <div class="square2"></div>
          <div class="square4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block">
    <h5 class="text-center mt-2">Personaliza el tamaño de la fuente</h5>
    <div class="p-4">
      <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
    </div>
  </div>
</p-dialog>