@import './../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200..900');

h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: $color-dark;
}
.card {
    &:hover {
        cursor:pointer;
        background-color: lightgray;
    }
    .card-title {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        letter-spacing: 0.2em;
        color: black;
    }
}
.selected {
    border: 2px solid $color-dark;
}
.palette1 {
    padding: 1em;
    * {
        margin-left: 1em;
        height: 25px;
        width: 25px;
        border: 1px solid black;
    }
    .square1 {
        background-color: #6E3F68;
    }
    .square2 {
        background-color: #732473;
    }
    .square4 {
        background-color: #70045D;
    }
    .square5 {
        background-color: #5D4C55;
    }
}
.palette3 {
    padding: 1em;
    * {
        margin-left: 1em;
        height: 25px;
        width: 25px;
        border: 1px solid black;
    }
    .square1 {
        background-color: #003004;
    }
    .square2 {
        background-color: #4A4A4A;
    }
    .square4 {
        background-color: #383838;
    }
    .square5 {
        background-color: #262626;
    }
}
.palette4 {
    padding: 1em;
    * {
        margin-left: 1em;
        height: 25px;
        width: 25px;
        border: 1px solid black;
    }
    .square1 {
        background-color: #000036;
    }
    .square2 {
        background-color: #E8E8E8;
    }
    .square4 {
        background-color: #DAE9F0;
    }
    .square5 {
        background-color: #98a1a5;
    }
}