@import './../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200..900');


h5 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: var(--app-primary-color);
  i {
    &:hover {
      cursor: pointer;
    }
  }
}
.heuristicDetail {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 5em;
  .container {
    margin-top: 3em;
    h5 {
      margin-bottom: 1em;
    }
  }
}
button.stickyButton{
    position: absolute;
    top: 8em;
    left: 1em;
    background-color: var(--app-primary-color);
    color: var(--app-secondary-color);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    padding: 2em;
    border-radius: 50%;
  }
