@import './../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200..900');

h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: $color-dark;
}
.evaluate {
    margin: 6em auto;
}
.chartImg {
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.instructions, .evaluate {
    .pi-info-circle {
        &:hover {
            cursor: pointer;
        }
    }
    .link {
        color: $color-dark;
        &:hover {
            cursor: pointer;
        }
    }
    .square {
        width: 450px;
        height: 450px;
        background-color: $color-hovered;
        border: 1px solid $color-dark;
        position: relative;
        p {
          font-weight: 600;
        }
    }
    .confirmButtons {
      .disabledConfirm {
        cursor: not-allowed;
        background-color: $light-blue-darkered;
        color: $color-dark;
      }
      button {
        box-sizing: border-box;
        height: 72px;
        left: 0px;
        top: 0px;
        color: $color-light;
        text-transform: uppercase;
        font-family: "Karla",  sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0.25em;
        line-height: 72px;
        background: #34385E;
        border: 1px solid #000000;
      }
    }
    .field-radiobutton {
      gap: 1em;
      display: flex;
      margin-top: 4em;
      justify-items: center;
      align-items: center;
      input[type="file"] {
        display: none;
      }
      .imgURLUploadClass{
        position: relative;
        width: 30em;
        input {
          width: 100%;
          height: 5em;
        }
        button {
          position: absolute;
          right: 3px;
          top: 3px;
          bottom: 3px;
          display: inline-block;
          padding: 0.8em;
          z-index: 2;
          cursor: pointer;
          color: $color-dark;
          text-transform: uppercase;
          font-family: "Karla",  sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size: 15px;
          letter-spacing: 0.25em;
          line-height: 50px;
          background: $light-blue;
          border: 0.5px solid $color-dark;
        }
      }
      .disabledInput{
        cursor: not-allowed;
        background-color: $light-blue-darkered !important;
      }
      .custom-file-upload {
        display: inline-block;
        padding: 0.8em;
        cursor: pointer;
        color: $color-dark;
        text-transform: uppercase;
        font-family: "Karla",  sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 15px;
        letter-spacing: 0.25em;
        line-height: 50px;
        background: $light-blue;
        border: 0.5px solid $color-dark;
    }
    p {
      margin-bottom: auto !important;
      margin-top: auto !important;
    }
    }
    .articleTitles {
        display: flex;
        flex-direction: row;
        &::before, &::after {
            content:"";
            border-bottom: 1px solid;
            margin: auto;
            width: 2em;
            color: $color-dark;
        }
        &::before {
            margin-right: 10px
        }
        &::after {
            margin-left: 10px
        }
        }
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    p {
        line-height: 24px;
      }
      span {
        padding: 0em 5em;
      }
}
.introduction {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 5em;
  position  : relative;         /* Make any child element will be positioned relative to this container */
  &::before {
    content          : '';       /* Set empty content                      */
    position         : absolute; /* Position the pseudo-element absolutely */
    height           : 36em;      /* Set height and width as desired        */
    width            : 96%;
    top              : 0;       /* Set the offset as desired              */
    left             : 2%;
    z-index          : -1;       /* Send element to back                   */
    background-color : $light-blue;
  }
  p {
    margin-top: 2em;
    line-height: 24px;
  }
  span {
    padding: 0em 5em;
  }
  .listIndicators {
    padding: 0 3em;
  }
}
.listHeuristics {
  padding: 3em;
  .lessSize {
    height: 2em;
  }
  .heuristicDetail {
    padding: 2em 1.3em;
    &:hover {
      cursor: pointer;
      background-color: $light-white-blue;
      h2 {
        font-weight: 900;
      }
    }
  }
}
.chartImgResult {
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.smallH2{
  font-size: 12px;
}
.buttonEndForm {
    box-sizing: border-box;
    height: 49px;
    width: 13em;
    color: $color-light;
    text-transform: uppercase;
    font-family: "Karla",  sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.25em;
    background: #34385E;
    border: 1px solid #000000;
}
