@import './variables';

.settings {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
}
footer {
  background-color: $light-blue;
  margin-top: 6em;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.25em;
  color: $color-dark !important;

 img {
  width: 20em;
 }
}
:host ::ng-deep .p-menubar {
  position: sticky;
  position: -webkit-sticky; // Needed for Safari browsers.
  z-index: 10000; // This prevents elements to be seen through the toolbar.
  top: 0; // Required for "position: sticky" to take effect.
  width: 100%;
}
:host {
  ::ng-deep div > p-menubar > div {
    font-family: 'Karla', sans-serif;
    background-color: $color-dark;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    border-radius: 0;
    margin: 0;
    padding: 10;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    p-menubarsub.p-element {
      width: 100%;
    }
    * {
      .p-menubar-root-list {
        display: flex;
        font-weight: bold;
        gap: 3em;
      }
      @media screen and (max-width: 800px) {
        .p-menubar-root-list {
          display: none;
        }
      }
      li {
        &:first-child {
        margin-right: auto;
        }
      }
      color: $color-light !important;
      &:hover {
        background: none !important;
      }
      .pi {
        font-size: 1.3em;
        font-weight: bold;
        &:last-child {
          margin: 0 3em;
        }
        @media screen and (max-width: 600px) {
          &:last-child {
            margin: 0 1em;
          }
        }
      }
    }
  }
}

