<app-settings [visible]="visible" (isClosed)="closeModal()" [selectedPalette]="paletteSelected" (paletteSelecteed)="setPalete($event)"></app-settings>
<div class="m-0 p-0">
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <button class="settings" (click)="openModal()"><i class="pi pi-cog"></i></button>
    </ng-template>

  </p-menubar>
  <router-outlet></router-outlet>
  
<footer class="text-center text-lg-start text-muted">
  <section class="border-top">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">

        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
            <img src="https://upload.wikimedia.org/wikipedia/ca/thumb/2/2c/Logotip_UB.svg/1200px-Logotip_UB.svg.png" alt="Logo Universitat de Barcelona">
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 titleLink">Enlaces de interés</h6>
          <p><a routerLink="/about" class="text-reset">Sobre la web</a></p>
          <p><a routerLink="/heuristics-list" class="text-reset">Heurísticas</a></p>
          <p><a routerLink="/articles-list" class="text-reset">Artículos</a></p>
          <p><a routerLink="/evaluate" class="text-reset">Evalua</a></p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 titleLink">Contacta con nosotros</h6>
          <p><a href="#!" class="text-reset">Nombre</a></p>
          <p><a href="#!" class="text-reset">Nombre</a></p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://web.ub.edu/web/ub/">Universitat de Barcelona</a>
  </div>
</footer>
</div>

