@import './variables';

.settings {
  background: none;
  border: none;
  display: flex;
  font-family: 'Karla', sans-serif;
  justify-content: center;
  line-height: 23px;
  text-transform: uppercase;
}
footer {
  background-color: var(--app-secondary-color);
  margin-top: 6em;
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  font-family: 'Karla', sans-serif;
  line-height: 23px;
  letter-spacing: 0.25em;
  color: var(--app-primary-color) !important;

 img {
  width: 20em;       
 }
}
:host ::ng-deep .p-menubar {
  position: sticky;
  position: -webkit-sticky; // Needed for Safari browsers.
  z-index: 10000; // This prevents elements to be seen through the toolbar.
  top: 0; // Required for "position: sticky" to take effect.
  width: 100%;
}
:host {
  ::ng-deep div > p-menubar > div {
    font-family: 'Karla', sans-serif;
    background-color: var(--app-primary-color);
    font-style: normal;
    line-height: 23px;
    border-radius: 0;
    margin: 0;
    padding: 10;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    @media screen and (max-width: 800px) {
      .p-menubar-button
      {
        box-shadow: none !important;
      }
    }
    p-menubarsub.p-element {
      width: 100%;
    }
    * {
      @media screen and (min-width: 961px) {
        .p-menubar-root-list {
          display: flex;
          font-weight: bold;
          gap: 3em;
        }
      }
      @media screen and (max-width: 960px) {
        .p-menubar.p-element div.p-menubar.p-component a.p-menubar-button
        {
          box-shadow: none !important;
        }
        .p-menubar-root-list {
          li {
            &:first-child {
              display: none;
            }
          }
          color: var(--app-primary-color);
          background-color: var(--app-primary-color) !important;
          &:hover {
            background-color: var(--app-primary-color) !important;
          }
          font-weight: bold;
          li { 
            border-top: 1px solid white;
          }
          border-bottom: 1px solid white;
        }
      }
      li {
        &:first-child {
        margin-right: auto;
        }
      }
      color: $color-light !important;
      &:hover {
        background: none !important;
      }
      .pi {
        font-size: 1.3em;
        font-weight: bold;
        &:last-child {
          margin: 0 1em;
        }
        @media screen and (max-width: 600px) {
          &:last-child {
            margin: 0 1em;
          }
        }
      }
    }
  }
}
:host ::ng-deep .modal-dialog {
    top:40%;
}

