$dark_color: #000036;
$color-light: #E8E8E8;
$color-hovered: rgba(232,232,232, 0.4);
$border-shadow: rgba(0, 0, 0, 0.2);
$color-black: hwb(0 0% 100%);
$light-blue: #DAE9F0;
$light-blue-darkered: #98a1a5;
$light-white-blue: #e4eef3;
